@model hirelonghorn.Models.Interview

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Interview</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(model => model.InterviewId)
            @Html.HiddenFor(model => model.RoomNumber)

            <div class="form-group">
                <label>Selected Date:</label>
                @Html.DropDownList("SelectedDate2", (SelectList)ViewBag.SelectedDate, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Selected Room:</label>
                @Html.DropDownList("SelectedRoom", (SelectList)ViewBag.SelectedRoom, new { @class = "form-control" })
            </div>



            <div class="form-group">
                <label>Select a Position:</label>
                @Html.DropDownList("SelectedPosition", (SelectList)ViewBag.AllPositions, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <label>Select a Interviewer:</label>
                @Html.DropDownList("SelectedInterviewer", (SelectList)ViewBag.AllInterviewers, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <label>Select from the Available Slots:</label>
                @Html.ListBox("SelectedSlots", (MultiSelectList)ViewBag.AllSlots, new { @class = "form-control" })
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-danger" />
            </div>
        </form>
</div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

