@using sp19team18finalproject.Controllers
@model EditStudentProfileViewModel
@{
    ViewBag.Title = "EditStudentProfile";
}

<h2>@ViewBag.Title.</h2>


@using (Html.BeginForm("EditStudentProfile", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <h4>@ViewBag.Error</h4>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    @*TODO: Add code for additional fields required for login*@
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.GraduationDate, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBox("GraduationDate", null, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Major, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownList("SelectedMajor", (SelectList)ViewBag.AllMajors, new { @class = "form-control" })
        </div>
    </div>

    @* two radio buttons for price *@
    <div class="form-group">
        @Html.LabelFor(m => m.PositionType, new { @class = "col-md-2 control-label" })
        <label class="radio">@Html.RadioButton("SelectedPositionType", Classification.FT, true)FT(Full Time)</label>
        <label class="radio">@Html.RadioButton("SelectedPositionType", Classification.I)I(Internship)</label>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.GPA, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBox("StudentGPA", null, new { @class = "form-control" })
            <div class="text-danger">@ViewBag.Message</div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-danger" value="EditStudentProfile" />
        </div>
    </div>
}