@model hirelonghorn.Models.Application

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Application</h4>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(model => model.StatusType)
            @Html.HiddenFor(model => model.ApplicationID)
            @Html.HiddenFor(model => model.ApplicationDate)


            @Html.HiddenFor(model => model.Position.PositionID)
            @Html.HiddenFor(model => model.Position.PositionTitle)
            @Html.HiddenFor(model => model.Position.Location)
            @Html.HiddenFor(model => model.Position.PositionType)
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Position.PositionTitle)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Position.PositionTitle)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Position.PositionType)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Position.PositionType)
                </dd>
            </dl>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-danger" />

            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

